.titleContainer{
    margin-top: 30px;
    margin-bottom: 5px;
}

.mainFormContainer{
    margin-top: 10px;
    margin-bottom: 5px;
}

.taskChartContainer{
    margin-top: 30px;
    margin-bottom: 5px;
}

.textContainer{
    margin-top: 200px;
}

.taskColumn{
    width: 25%;
}

.statusColumn{
    width: 30%;
}

.dateColumn{
    width: 10%;
}

.optionsColumn{
    width: 35%;
}

.statusInput{
    height: 1.7rem;
    padding: 0.5rem 0.4rem;
    width: 76% !important;
}

.newTitleInput{
    height: 1.7rem;
    padding: 0.5rem 0.4rem;
    width: 70% !important;
}

.table td{
    vertical-align: middle;
}

.text-big{
    font-size: 7rem;
}

@media print {
    .container{
        width: 100%;
    }
    .titleContainer{
        margin-top: 5px;
        margin-bottom: 0;
    }
    .taskChartContainer{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h1{
        font-size: 1rem;
    }
    body{
        font-size: 0.7rem;
    }
}

.littleText{
    margin-top: 35px;
    margin-bottom: 15px;
}

.userField{
    margin-bottom: 5px;
}

.col-centered{
    margin: 0 auto;
    float: none;
}

.xycenter {
    margin-bottom: 27vh;
    text-align: center;
    margin-top: 100px;
    padding-left: 0px;
}

input{
    font-family: "Helvetica Neue", -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif;
}